/* stylelint-disable declaration-no-important */

.anime-banner {
  padding-bottom: fluid(40, 20);
  gap: 0;
  padding-top: fluid(20, 10) !important;
}
/* stylelint-enable declaration-no-important */
